@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Cardo", serif;
  max-width: 1349px;
  margin: 0;
}

.navbar {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
}

.img-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.left-nav {
  margin: 20px;
  display: inline-block;
}

.left-nav a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: 700;
  margin: 0 20px 0 0;
}

.right-nav {
  float: right;
  font-size: 17px;
  margin: 20px;
}

.right-nav a {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
}

.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  background-image: url(main.png);
  top: 0px;
  left: 0;
  width: 1349px;
  height: 550px;
}

.main-text-center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.main-text-center h3 {
  font-size: 26px;
  width: 540px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
}

.main-text-center .main-btn {
  background-color: transparent;
  padding: 8px 40px;
  border: 1px solid #ffff;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
  line-height: 20px;
}
